* {
/* These are my default settings for everything. I set margin and padding to 0 so they can all be manually set if desired. The others I just took, we'll have to look into them. */
  margin: 0;
  padding: 0;
  box-sixing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Here, I set my background color for the page. */
body {
  background-color: #edf3f7;
}

/* Here, I set up my navpanel div. It's fixed, so it moves as you scroll. The width is 200, and the height is always the full page. */
.navpanel {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #cfe2f3;
}

/* This creates a bit of spacing between the list items in the navigation panel. */
.navpanel li {
   padding: 5px 10px;

}

/* This changes the background color of the list items when you hover over them.*/
.navpanel li:hover {
   background-color: #a4c2f4;

}

/* This sets the color of the links to be black always. The display: block also makes sure they take up the full space of the list item, not just over the text.*/
.navpanel li a{
   color: black;
   display: block;

}

/* Here, I change the size and spacing of my home button*/
#homebutton {
  height: 120px;
  padding-left: 40px;
}


/* Here, I move my main content over 200px so it does not overlap with the nav panel. I also set it to take the full width of the page.*/
.content {
 padding-left: 200px;
 width: 100%

}
